h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* Theme */
  --light-shades: #a487b7;
  --main-brand: #835a7f;
  --dark-accent: #3a3253;
  --dark-shades: #29233b;

  --page-padding: 1.2rem 10rem;
  --gap: 1rem;
  --padding: 1.2rem;
  --border-radius: 5px;
}

html {
  scroll-behavior: smooth;
}

.btn {
  padding: 0.45rem 1.2rem;
  cursor: pointer;
  background-color: var(--dark-shades);
  border-radius: var(--border-radius);
  color: var(--main-brand);
  border: none;
  transition: all 0.2s ease-in-out;
  width: fit-content;
}

.btn:hover {
  background-color: var(--main-brand);
  color: whitesmoke;
}

.align-right {
  margin-left: auto;
}

.background-animation {
  background: linear-gradient(
    45deg,
    var(--light-shades),
    var(--dark-shades),
    var(--dark-accent)
  );
  background-size: 400% 400%;
  animation: gradient 4s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media screen and (max-width: 900px) {
  :root {
    --page-padding: 1rem 2rem;
  }
  .nav-container {
    flex-direction: column;
    gap: var(--gap);
  }

  .nav-links-container {
    flex-direction: column;
  }

  .aboutme-container {
    flex-direction: column;
  }

  .contact-container {
    flex-direction: column;
  }
}
